@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #238be0;
}

@theme {
  --color-primary: #066bbd;
    --color-secondary: #124670;
  
  --color-light: rgba(247, 247, 247, 1);
  --color-dark: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans:   var(--font-poppins);
  --font-mono: var(--font-geist-mono);
  --font-display: var(--font-display), Arial, Helvetica, sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-mono), Helvetica, var(--font-sans), Arial, Helvetica, sans-serif;
}

.frame::before,
.frame::after {
  content: "";
  position: absolute;
  pointer-events: none;
  background-color: var(--color-dark);
}

/* horizontal extensions */
.frame::before {
  top: 0;
  left: 50%;
  width: 100vw;
  height: 1px;
  transform: translateX(-50%);
  box-shadow:
    0 calc(100% - 1px) 0 0 var(--color-dark);
}

/* vertical extensions */
.frame::after {
  left: 0;
  top: 50%;
  width: 1px;
  height: 100vh;
  transform: translateY(-50%);
  box-shadow:
    calc(100% - 1px) 0 0 0 var(--color-dark);
}


.dotted-bg {
  background-color: white;
  background-image: radial-gradient(
    rgba(0, 0, 0, 0.15) .25px,
    transparent 1px
  );
  background-size: 10px 10px;
}